body {background-color: black !important;}
header, nav, div, footer {border:1px solid ghostwhite;}
h1 {font-family: 'Shadows Into Light', serif !important; font-size: 48px; color: ghostwhite !important;}
h2, h3 {font-family: 'Shadows Into Light', serif !important; color: ghostwhite !important;}
p, div {color: ghostwhite !important;}