body {background-color: black;}
header, nav, #content, footer {border:1px solid grey;}
h1 {font-family: 'Shadows Into Light', serif; font-size: 48px; color: ghostwhite;}
h3 {font-family: 'Shadows Into Light', serif; color: green;}
p, th, td, li, dl, ul, ol, form {font-family: 'Shadows Into Light', serif; color: white;}
aside {font-family: 'Shadows Into Light', serif; position: absolute; left: 0; width: 25%}
#content {font-family: 'Shadows Into Light', serif; position: relative; left: 25%; width: 75%;}
footer {text-align: center; bottom: 0;}